{
  "root": true,
  "env": { "es6": true },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": { "impliedStrict": true }
  },
  "plugins": ["@typescript-eslint", "no-loops", "promise"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:promise/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": "warn",
    "no-loops/no-loops": "error",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
